body {
    max-width: 800px;
    margin: auto;
    background: #073642;
    color: #b58900;
    font-family: monospace;
    font-size: 1.4em;
}

header {
    text-align: center;
}

.subtitle {
    font-style: italic;
    font-size: .75em;
}

a:link {
    color: #d33682;
}

a:visited {
    color: #6c71c4;
}

a:hover {
    color: #d33682;
}

.checkpoint {
    background-color: #d33682;
    padding: 1em;
    color: #073642;
}

.turnin {
    font-weight: bold;
    color: #d33682
}

.keyboardShortcut {
    font-weight: bold
}