body {
    max-width: 800px;
    margin: 20px auto;
    background: #073642;
    color: #b58900;
    font-family: monospace;
    font-size: 1.4em;
    line-height: 1.5em;
    padding: 0 5px;
}

header {
    text-align: center;
}

figure img {
    max-width: 100%;
}

img {
    max-width: 100%;
}

code {
    border: 1px dashed #d33682;
    padding: 3px;
}

pre {
    max-width: 1000%;
    margin: auto;
    border: 3px dashed #d33682;
    padding: 3px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

pre code {
    border: none;
}

#homeButton {
    display: flex;
    justify-content: center;
}

.subtitle {
    font-style: italic;
    font-size: .75em;
}

a:link {
    color: #d33682;
}

a:visited {
    color: #6c71c4;
}

a:hover {
    color: #d33682;
}

.checkpoint {
    background-color: #d33682;
    padding: 1em;
    color: #073642;
}

.turnin {
    font-weight: bold;
    color: #d33682
}

.keyboardShortcut {
    font-weight: bold
}

input:invalid {
    border: 3px solid red;
  }
  
input:valid {
    border: 3px solid green;
  }
  
form.quiz {
    margin: 1em 0em;
  }